.search-column{
    background-color:	#bbb6b6;
}
body {background-color: rgb(187, 179, 176);}

.list-group-item{
    line-height: 1.0;
    border: none;
    font-family:serif;
    font-size: 1.2em;
    
    
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
}